<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <table class="responsive-table highlight" style="color:black">
              <thead>
                <tr>
                  <th>Order Id</th>
                  <th>Total Transaction Value</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tr *ngFor="let order of orderService.orders">
                
                <td>
                  <a [routerLink]="['/account/seller/orders', order._id]" >{{order._id}}</a>
                </td>
                <td>{{order.totalPrice}}</td>
                <td>{{order.status}}</td>
              </tr>
            </table>

        </div>

        <!-- <button class="btn btn-success" type="button" (click)="checkOutBtn()">Check Out</button> -->

      </div>
    </div>
  </div>
  

</div>

