  <div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
      <h4 class="card-header">Register</h4>
      <div class="card-body">

        
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="registerService.selectedUser._id">

          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="firstName" #name="ngModel" [(ngModel)]="registerService.selectedUser.firstName" placeholder="Millen" required>
              <label>First Name :
                <label class="red-text">*</label>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="lastName" #name="ngModel" [(ngModel)]="registerService.selectedUser.lastName" placeholder="Dwiputra" required>
              <label>Last Name :
                <label class="red-text">*</label>
              </label>
            </div>
          </div>
          
         
          <div class="row">
            <div class="input-field col s12">
              <input type="email" name="email" #name="ngModel" [(ngModel)]="registerService.selectedUser.email" placeholder="millen@dwiputra.com" required>
              <label>Email :
                <label class="red-text">*</label>
              </label>
            </div>
          </div>
         
    
          <div class="row">
            <div class="input-field col s12">
              <input type="password" name="password" #name="ngModel" [(ngModel)]="registerService.selectedUser.password" placeholder="[a-Z 0-9]" required> 
              <label>Password :
                  <label class="red-text">*</label>
              </label>
            </div>
          </div>
    
          <div class="row">
            <div class="input-field col s12">
              <button class="btn btn-custom right" type="button" (click)="resetForm(userForm)">Reset</button>
              <button class="btn btn-custom right" type="submit" [disabled]="!userForm.valid">Register</button>
            </div>
          </div>
          
          <div>
            <a [routerLink]="['/login']" style="color:blue"><u>Already Have Account ? Click here to login</u></a>
          </div>

          <input type="hidden" name="storeName" #name="ngModel" [(ngModel)]="registerService.selectedUser.storeName" >
          <input type="hidden" name="storeName" #name="ngModel" [(ngModel)]="registerService.selectedUser.idCardNumber" >

        </form>


      </div>
    </div>