<!DOCTYPE html>
<html lang="en">

<body>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        
        <div class="row">         
           <input class="form-control my-0 py-1 black-border" type="text" placeholder="Search for anything " aria-label="Search">
           <button class="btn btn-custom right" type="button" >Search</button>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">

          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let prod of productService.products">
              <div class="card h-100">

                <a [routerLink]="['/products', prod._id]">
                  <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                </a>


                <div class="card-body">
                  <h4 class="card-title">
                    <a [routerLink]="['/products', prod._id]">
                      {{ prod.name }}
                    </a>  
                  </h4>
                  <h5>Rp. {{prod.price}}</h5>
                  <p class="card-text">{{prod.description}}</p>
                </div>


                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


</body>

</html>
