<div class="card mt-4">
    <h4 class="card-header" *ngIf="!doHaveStore">Start Your E-Store with Us</h4>
    <h4 class="card-header" *ngIf="doHaveStore">{{this.storeName}}</h4>
    <div class="card-body">
        <button type="button" class="btn btn-primary" (click)="goToBuyerPage()">Go to Buyer Page</button>
            <button type="button" *ngIf="!doHaveStore" class="btn btn-primary" (click)="openStore()">Open Store</button>
            <button type="button" *ngIf="doHaveStore" class="btn btn-primary" (click)="manageProduct()">Manage Products</button>
    </div>
</div>