<button type="button" class="btn btn-primary" [routerLink]="['/manageProduct/addProduct']">Add Product</button>

<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
                <table class="responsive-table highlight" style="color:black">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let emp of productService.products">
                      <td>{{emp.name}}</td>
                      <td>{{emp.description}}</td>
                      <td>{{emp.price}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(emp)">
                            <i class="material-icons"><u>edit</u></i>
                          </a>
                          <p>  </p>
                          <a class="action-btn" (click)="onDelete(emp._id)">
                            <i class="material-icons"><u>delete</u></i>
                          </a>
                        </td>
                    </tr>
                  </table>
          </div>
        </div>
      </div>
    </div>
  
  </div>